<% title "All Genres for visual novels" %>
<% description "This is a list of genres for visual novels in Visualnoveler. Come join us to start tracking and discovering new visual novels!" %>

<div class="container">
	<div class="row">
		<h1>All Genre Categories</h1>
		<% @genres.each do |genre| %>
			<div class="col-md-2" style="padding-bottom:13px;">
				<h4><%= link_to genre.name + "(#{genre.vns.count})", genre_path(genre),style: "color:black;" %></h4>
			</div>
		<% end %>
	</div>
</div>