<div class="container">
	<div class="row">

	<h1>Edit Genre</h1>

		<%= simple_form_for @genre do |f| %>

		<div class="row">
		<div class="col-lg-4">
		  <%= f.input :name, label: 'Name', error: 'Name is mandatory, please specify one' %>
		 </div>
		</div>
		

		<div class="col-lg-12">
		  <%= f.button :submit , class: "btn btn-primary" %>
		 </div>
		<% end %>


	</div>

</div>