<% title @genre.name + ' Visual Novel Listings' %>
<% description "Visual novels tagged with #{@genre.name} are found over here. Come join us to start tracking and discovering new visual novels!" %>
<div class="container-fluid">
	<div class="row vnindex-row">
		<%= render 'layouts/vn_title',:title => "#{@genre.name} Visual Novels" %>
		<%= render 'layouts/vn_show_simple',locals:{vn: @vns} %>	

	</div>
</div>