<% title 'Crop Image' %>
<div class="container" style="padding-top:25px;">
	<div class="row">
		<div class="col-md-12">
<%= simple_form_for @bracket do |f| %>
	
  <%= f.simple_fields_for :bracket_characters,@character do |c| %>
	  <%= c.cropbox :image %>
	  <%= c.submit 'Crop',:class => "btn btn-danger",:style =>'margin-top: 50px; width: 120px;' %>
  <% end %>
<% end %>
</div>
</div></div>