<div class="container">
	<div class="row">
		<h1>Bracketss</h1>
		<% @brackets.each do |bracket| %>
			<div class="col-md-6">
				<% if bracket.ready %>
					<%= link_to bracket.name,bracket_path(bracket) %>
				<% else %>
					<%= link_to bracket.name,setup_bracket_path(bracket) %>
				<% end %>
			</div>
			<div class="col-md-12">
				<%= bracket.details %>
			</div>
		<% end %>
	</div>
</div>