<% title "All Developers for visual novels" %>
<% description "This is a list of all the developers for visual novels in Visualnoveler. Come join us to start tracking and discovering new visual novels!" %>

<div class="container">
	<div class="row">
		<h2>All Developers Categories</h2>
		<% @developers.each do |developer| %>
			<div class="col-md-3" style="padding-bottom:13px;">
				<h4><%= link_to developer.name + "(#{developer.vns.count})", developer_path(developer) %></h4>
			</div>
		<% end %>
		<div class="col-md-12">
	 		<%= will_paginate @developers, renderer: BootstrapPagination::Rails %>
	 	</div>
	</div>
</div>