

<div class="container">
	<div class="row">
		<%= simple_form_for @developer do |f| %>

		<h1>Edit</h1>
		<div class="col-lg-4">
		  <%= f.input :name, input_html: {style: "width:200px;"}, label: 'Genre Name', error: 'Name is mandatory, please specify one' %>

		 </div>

		<div class="col-lg-12">
		  <%= f.button :submit , class: "btn btn-primary" %>
		 </div>
		<% end %>


	</div>

</div>