<% title @developer.name + ' Visual Novels Listings' %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2 class="vnindex-heading"><%= @developer.name%></h2>
		</div>
	
		<% @vns.each do |vn| %>
<div class="vn-column">

			<%= image_tag("#{vn.image_poster}",:alt => "#{vn.name}", :class=> "vn-index-poster") %>
	
	<div class="panel panel-default">
		<div class="panel-body">


		<a href=<%= vn_path(vn) %>><h4><span class="bottom"><%= vn.name%></span></h4>	</a>
			
		</div>
	</div>
</div>

<% end %>

	</div>
</div>