<% title @developer.name + ' Visual Novels Listings' %>
<% description "Visual novels developed by #{@developer.name} are found over here. Start tracking and discovering other visual novels at Visualnoveler and manage your visual novel list." %>
<div class="container-fluid">
	<div class="row vnindex-row">
		<%= render 'layouts/vn_title',:title => "Developer #{@developer.name}" %>
		<%= render 'layouts/vn_show',locals:{vn: @vn} %>	

	</div>
</div>