<% title "Destiny Chronicles - Visualnoveler" %>
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

<style type="text/css">
.promo-image {
		background: url("<%= asset_path('destiny-chronicles/promo_image.png') %>") no-repeat center center;
		margin-top: 61px;
		min-height: calc(100vh + 90px);
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

</style>
<nav class="navbar navbar-destiny-chronicles navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav destiny-chronicles-navbar-center">
        <li> <a href="#top">About</a></li>
        <li><a href="#characters">Story</a></li>
        <li><a href="#characters">Characters</a></li>
        <li><a href="#characters">World</a></li>
        <li><a href="#characters">Screenshots</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- #0880EB !-->
<div class="container-fluid promo-image" style="">
	<div class="row" style="background-color:transparent;">
		<div class="col-lg-4 col-md-6 cta-offset col-xs-12 col-sm-6">
			<div id="mc_embed_signup">
				<form action="//visualnoveler.us12.list-manage.com/subscribe/post?u=bd4a5b36ba4be25f658069e35&amp;id=f5f4b45cd9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
					<!-- <label for="mce-EMAIL">Enter email to receive updates</label> -->
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email to receive updates" required>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bd4a5b36ba4be25f658069e35_f5f4b45cd9" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
				</form>
			</div>
		</div>
	<div>
</div>