<% title "Destiny Chronicles - Visualnoveler" %>

<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-2" style="margin-top:35vh;">
			<h1>Subscription Success!</h1>

			<p>Welcome to the Destiny Chronicles updates list.</p>

			<%= link_to "Back to website", destiny_chronicles_path %>
		</div>

		<div class="col-md-3" style="margin-top:25vh;">
			<%= image_tag("destiny-chronicles/celeste.png",class:"char-profile-img",alt: "celeste") %>
		</div> 
	</div>
</div>


<script type="text/javascript">
	$(function() {
		fbq('track', 'Lead');
	});
</script>


