<div class="container admin-container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
  			<div class="panel-body">
		<table class="table">
			<h2>Franchise List</h2>
			<thead><tr>
				<th>Name</th>
				<th>Edit</th>
				<th>Last updated</th>
			</tr></thead>
			<tbody>
			<% @franchise.each do |franchise| %>
				<tr>
				<td><%= link_to franchise.name, franchise_path(franchise) %> </td>
				<td><%= link_to 'Edit',edit_franchise_path(franchise) %></td>
				<td><%= time_ago_in_words(franchise.updated_at) %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
			</div></div>
		</div>
	</div>
</div>