<h3> Related Visual Novels</h3>
<ul class="list-unstyled">
	<% franchises.vns.each do |vn| %>	
		<% if @vn != vn %> 
		<li>
			<%= link_to vn_path(vn) do %>
				<div class="vn-franchise-col">
					<%= image_tag(vn.image_poster,:alt => vn.name, :class=> "franchise-poster") %>
					<div class="vn-column-data">
						 <h4>
							<span class="vn-poster-name">
							<%= truncate(vn.name,length: 28) %>
							</span>
						</h4>
					</div>
				</div>
			<% end %>
		</li>
		<% end %>
	<% end %>

</ul>
