<div class='nested-fields'>

	<div class="row">
		<h3> Screenshot</h3>
		<div class="col-md-4">	
		 	<%= f.input :image, label: 'Image' %>
	  	 	<%= link_to_remove_association "Remove Entry", f,:class => 'btn btn-default'  %>
		</div>
			
		<div class="col-md-3">
	  	 	 <%= image_tag(f.object.image_url,class:"img-responsive",style:"width:60%;") %>
	  	</div>
	  	<div class="col-md-2">
	  	 	<%= link_to 'Destroy',f.object,class: "btn btn-danger",style:"margin-left:25px;",method: :delete,data:{ disable_with: "Deleting Visual Novel..",confirm: "Are you sure?"} %>
	  	</div>
  	</div>
   	
 </div>