<% title "Featured Visual Novels" %>
<% description "A list of featured visual novels in Visualnoveler." %>

<div class="container-fluid">
	<div class="row vnindex-row">
		<%= render 'layouts/vn_title',:title => "Featured Visual Novels" %>
		<%= render 'layouts/vn_show',locals:{vn: @vn} %>		
	</div>
</div>
