<% title "Search Visual Novels" %>
<% description "A list of featured visual novels in Visualnoveler and also random visual novels for you to discover!" %>
<div class="container-fluid">
  <div class="row vnindex-row">

    <%= render 'layouts/vn_title',:title => "Search Visual Novels" %>
    <%= render 'layouts/vn_show',locals:{vn: @vn} %> 
    
  </div>
</div>