<% title "Top Visual Novels" %>
<% description "This is a list of the top visual novels in Visualnoveler for you to discover!" %>
<div class="container-fluid">
	<div class="row vnindex-row">
		
		
		<%= render 'layouts/vn_title',:title => "Top Visual Novels" %>
		<%= render 'layouts/vn_show',locals:{vn: @vn} %>	
	
	</div>
</div>
