<% title "Translated Visual Novels" %>
<% description "This is a list of all the translated visual novels in Visualnoveler." %>
<div class="container-fluid">
	<div class="row vnindex-row">
		
		<%= render 'layouts/vn_title',:title => "Translated Visual Novels" %>
		<%= render 'layouts/vn_show',locals:{vn: @vn} %>
	</div>
</div>
