<% title "Visual Novels with walkthroughs" %>
<% description "This is a list of all the translated visual novels in Visualnoveler that have a walkthrough guide associated with it." %>
<div class="container">
	<div class="row">
		<%= render 'layouts/vn_title',:title => "Translated Visual Novels with Walkthroughs" %>
		<%= render 'layouts/vn_show',locals:{vn: @vn} %>
	
	</div>
</div>
