
<% title @user.name + "'s Completed Visual Novels" %>

<div class="container-fluid">
	<div class="row vnindex-row">

		<%= render 'layouts/vn_title',:title => "Completed" %>
		<%= render :partial => 'list', locals: {lib: @lib}  %>
	
	</div>
</div>
