
<% title @user.name + "'s favourite Visual Novels" %>

<div class="container-fluid">
	<div class="row vnindex-row">
		
		
		<%= render 'layouts/vn_title',:title => "Favourites" %>
		<%= render :partial => 'list', locals: {lib: @lib}  %>
	
	</div>
</div>