<div class="container-fluid usercoverbg">
	<div class="row">
		<div class="col-md-12">
			<h1>This is a test</h1> <p>insert some text here</p>
		</div>

	</div> <!-- end of row -->
</div>	<!-- end of container -->