<% title @user.name + "'s Playlist" %>
<% description @user.name + "'s Playlist." " Start tracking Visual Novels and discover other hidden Visual Novel gems at Visualnoveler" %>

<div class="container-fluid">
	<div class="row vnindex-row">

		<div class="col-md-12">
			<h2 class="vnindex-heading">Watching</h2>
		</div>
	
		<% @lib.each do |lib| %>
		<% vn = lib.vn %>
<div class="vn-column">

			<%= image_tag("#{vn.image_poster}",:alt => "#{vn.name}", :class=> "vn-index-poster") %>
	
	<div class="panel panel-default">
		<div class="panel-body panel-vnindex">


		<a href=<%= vn_path(vn) %>><h4><span class="bottom"><%= vn.name%></span></h4>	</a>

			<ul class="list-inline vnindex-genre text-left">
					<% vn.genres.each do |genre| %>
						<li class="vngenre-padding inline-nopadding"><%= link_to genre.name,genre_path(genre) %></li>
					<% end %>
				</ul>
			
		</div>
	</div>
</div>

<% end %>

	</div>
</div>