<% title "Story - Anime Studio Simulator" %>

 <style>
body { 
  background: url(<%= asset_path('anime-sim/anime_sim_bg-blur.jpg') %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 </style>


 <div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">
      <h2>The Story</h2>
      <p>Yukari is a teenage girl who recently graduated from high school. However, she has important plans for her vacation: making her own ANIME!
     </p>

      <p>
    With newly-gained investment funds and the help of her friends, she hopes to turn her dream into reality. Will Yukari and her team make an unforgettable impression on the anime industry... or collapse from the pressure of creating their own anime series?</p>

     <p class="text-center" style="margin-top:20px;"><strong>A visual novel simulation game inspired by Shirobako.</strong>
     </p>
    </div>
  </div>
 </div>