<% title @news.title %>
<% description @news.content %>

<script>
	$(function() {
    var shareButton = new ShareButton({ui:{"flyout":"middle right"}});
	});
 </script>

<section id ="news-markdown">
<div class="container container-news">
	<div class="row news-post">
		<div class="col-md-12 ">
			<%= render 'layouts/news_full',locals:{news: @news} %>
		</div>
	</div>
</div>

</section>