<% news_title @news.title %>
<% description @news_description %>
<% image_url @news.featured_image %>

<script>
	$(function() {
		var options = {
			ui: {
				flyout: "bottom right"
			 },
			networks: {
				linkedin: {
					enabled: false
				},
				whatsapp: {
					enabled: false
				},
				pinterest: {
					enabled: false
				},
				email: {
					enabled: false
				},
				twitter: {
					description: "<%= @news.title %>"
				}
			}
		}
    	var shareButton = new ShareButton('.share-button',options);
				
	});
 </script>
<script type="text/javascript">
	function convertToSlug(Text)
	{
	    return Text
	        .toLowerCase()
	        .replace(/[^a-zA-Z0-9]+/g,'-');
	}
	var url = "https://visualnoveler.com/news/" + convertToSlug("<%= @news.title %>")
	alert(url);
  DiscourseEmbed = { discourseUrl: 'https://forums.visualnoveler.com/',
                     discourseEmbedUrl: url };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>

<section id ="news-markdown">
<div class="container container-news">
	<div class="row news-post">
		<div class="col-md-12 ">
			<%= render 'layouts/news_full',locals:{news: @news} %>
			<div id='discourse-comments'></div>
		</div>
	</div>
</div>

</section>