<% title @news.title %>
<% description @news_description %>
<script>
	$(function() {
		var options = {
			ui: {
				flyout: "bottom right"
			 },
			networks: {
				linkedin: {
					enabled: false
				},
				whatsapp: {
					enabled: false
				},
				pinterest: {
					enabled: false
				},
				email: {
					enabled: false
				},
				twitter: {
					description: "<%= @news.title %>"
				},
				facebook {
					title: "<%= @news.title %>"
					description: "<%= @news_description %>"
				}
			}
		}
    	var shareButton = new ShareButton('.share-button',options);
	});
 </script>

<section id ="news-markdown">
<div class="container container-news">
	<div class="row news-post">
		<div class="col-md-12 ">
			<%= render 'layouts/news_full',locals:{news: @news} %>
		</div>
	</div>
</div>

</section>