<% title "About Visualnoveler" %>
<% description ("About Visualnoveler. Start tracking and discovering visual novels today at Visualnoveler!") %>
<div class="container">
	<div class="row">

		<div class="col-md-8">
			<h2>About Visualnoveler </h2>
			<p><b>Visualnoveler</b> is a web app that is in <b>pre-alpha</b> which is designed for fans of visual novels to track and discover visual novels. It's a platform that lets people manage their own list of libraries containing visual novels and also to introduce visual novels to newcomers through bite-sized information.<br><br>You'll also be able to get a glimpse of reviews of visual novels directly from the page of the visual novel to decide whether the game is suitable for you.  </p>
		</div>
		<div class="col-md-8">
		<h2> We are looking for Contributors!</h2>
		<p>We are looking for people to help manage and add new visual novels to the visual novel database in Visualnoveler. Reach out to me at kencwyy@hotmail.com</p>
		</div>

		<div class="col-md-8">
			<h2>Help</h2>
			<%= link_to 'Recommended Visual Novel Resources' ,pages_resources_path,:class =>"text-primary",style: "font-size:1.2em;" %><br>
			<%= link_to 'Visualnoveler devblog' ,"http://blog.visualnoveler.com",:class =>"text-primary",style: "font-size:1.2em;" %> <br>
			<%= link_to 'Fuwanovel','http://fuwanovel.net/',:class =>"text-primary",style: "font-size:1.2em;" %> <br>
			<%= link_to 'Guide to adding a new visual novel in the database',pages_help_path,:class =>"text-primary",style: "font-size:1.2em;" %>
		
		</div>
	</div>
		
</div>