<% title "About Visualnoveler" %>
<% description ("Visualnoveler is a webapp for fans of visual novels to track and discover visual novels. It's a platform that lets people manage and compare their own visual novel list and also to introduce visual novels to newcomers through bite-sized information") %>
<div class="container container-news">
	<div class="row">

		<div class="col-md-12">
			<h2>About Visualnoveler </h2>
			<p><b>Visualnoveler</b> is a webapp for fans of visual novels to track and discover visual novels. It's a platform for visual novel fans to manage and compare their own visual novel list with their friends. </p>

			<p>We want to introduce visual novels to newcomers through bite-sized information. This includes eroge and other type of visual novels. All content in Visualnoveler is safe for work so you don't have to worry when browsing visual novels.</p>
			<p>
			You can find reviews and walkthroughs of visual novels in the visual novel database. In addition, we are now keeping track of <%= link_to 'visual novel translation status',translations_path %>. 
			</p>
			<p>
			As Visualnoveler is still in the early stages of development, we are actively looking for people to help improve Visualnoveler.
			</p>

			<h3>Website Features</h3>
			<ol type="1">
				<li class="about-list">Tracking Visual Novels - You can create your own list of visual novels and compare it with your friends.</li>
				<li class="about-list">Discover Visual Novels - Visual novels are sorted by genres, walkthroughs, translation status, ratings and so on </li>
				<li class="about-list">User Profiles - Manage your lists </li>
				<li class="about-list">Forums - Discuss visual novels on the <a href="http://forums.visualnoveler.com">forums</a> or give suggestions on the current implementation of Visualnoveler.</li>
			</ol>

		</div>
		<div class="col-md-12" style="padding-bottom:25px;">
			<h3>Visualnoveler FAQ</h3>
			<strong> Is there any downloads or torrents for visual novels or eroges?</strong>
			<p>We do not include downloads for eroge but we do include official purchase links which you can use to purchase the official game. It's very quick and simple unlike the old days. Restoration patches are welcome though. </p>
			<strong> I have feedbacks or suggestions about Visualnoveler, where do I submit them?</strong>
			<p>If you have any feature that you think would be cool to include in the website or you just want to contribute to the development of Visualnoveler, you can e-mail me at wraithseeker@visualnoveler.com.</p>

			<strong>Site Recruitment</strong>
			<p>We are currently looking for news writer and database moderators!</p>

			<strong> Missing visual novels / data is incorrect </strong>
			<p>If you found any incorrect data, you can let us know over <a href="https://forums.visualnoveler.com/t/suggest-missing-or-wrong-visual-novels-info-here/15/61">here</a></p>
			<strong> What is Visualnoveler built with?</strong>
			<p>It's built using Ruby on Rails.</p>

			<p>If you are a developer, Visualnoveler is <a href="https://github.com/wraithseeker/Visualnoveler" >open-source</a>!</p>
		</div>
		
	</div>
		
</div>