<div class="container">
	<div class="row">
		<div class="col-md-12">
		<h4> Looking for people to contribute to the website, contact me at kencwyy@hotmail.com</h4>
	</div>
	<div class="col-md-12">
	<h3> List of stuffs that do not work</h3>
</div>
	<div class="col-md-6">
		<h5>You can rate a Visual Novel but nothing will change in the VN's score since it's a pre-alpha release</h5>
	</div>
</div>