<% title "About Visualnoveler" %>
<div class="container">
	<div class="row">
		<div class="col-md-8">
		<h2> We are looking for Contributors!</h2>
		<p>We are looking for people to help us manage and add new visual novels to the database in Visualnoveler. Reach out to me at kencwyy@hotmail.com</p>
		</div>

		<div class="col-md-8">
			<h2>Help</h2>
			<%= link_to 'Guide to creating a new visual novel',pages_help_path,:class =>"text-primary",style: "font-size:1.2em;" %>
		</div>
	</div>
		
</div>