 <% title "About - Anime Studio Simulator" %>
 
 <style>
body { 
  background: url(<%= asset_path('anime-sim/anime_sim_bg-blur.jpg') %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 </style>


 <div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">
      <h2>About Anime Studio Simulator</h2>
      <p>Anime Studio Simulator is a visual novel with simulation elements in the game involving the player managing a team. Throughout the game, the player must battle deadlines, stress, motivation and other resources like budgets to make their own anime.</p>

      <h3><strong> Visualnoveler</strong></h3>
      <p>
        Visualnoveler is a handle that I (wraithseeker) use to handle my visual novel related stuff. I have recently decided to start developing visual novels and Anime Studio Simulator is my first project.

      </p>
        <p>Our main website is for users to track, discover and stay up to date on the latest visual novel translation status.
        </p>

    </div>
  </div>
 </div>