 <% title "About - Anime Studio Simulator" %>
 
 <style>
body { 
  background: url(<%= asset_path('anime-sim/anime_sim_bg-blur.jpg') %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 </style>


 <div class="container">
  <div class="row">
    <div class="col-md-6 col-centered" style="margin-bottom:40px;">
      <h2>About Anime Studio Simulator</h2>
      <p>Anime Studio Simulator is a visual novel with simulation elements in which the player manages an anime studio.</p>
      <p>You’ll play as Yukari, the team’s director. Your role is to guide your team by deciding on the best course of action to produce your own anime series. Other factors will come into play as well, such as outsourcing work and dealing with random events.</p>
      <p>It’ll be a tough journey for your team, especially since they lack experience. Furthermore, they’ll have to battle deadlines, stress, limited funds, and more. Can you guide them past all obstacles to successful create an anime?</p>


      <h3> About Visualnoveler</h3>
      <p>
      <a href="https://visualnoveler.com" style="color:#4285F4;" target="_blank">Visualnoveler</a> is a website where fans can track and discover visual novels, as well as manage and compare lists of visual novels they’ve played. Additionally, it provides accessible information about visual novels for newcomers to the genre.

      </p>

      <h3>Contact</h3>
      <p>wraithseeker@visualnoveler.com</p>
  

    </div>
  </div>
 </div>