<% title "Story - Anime Studio Simulator" %>

 <style>
body { 
  background: url(<%= asset_path('anime-sim/anime_sim_bg-blur.jpg') %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 </style>


 <div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">
      <h2>The Story</h2>
      <p>Yukari recently graduated from high school just like any other teenagers did. However, she has other more important things to do; making ANIME!  With her investment funds, she plans to turn her dream into reality. 
     </p>

      <p>
     Together with her friends, will Yukari make an unforgettable impression on the anime industry or collapse due to the pressure of directing her own anime series?</p>

     <p class="text-center" style="margin-top:20px;"><strong>A visual novel simulation game inspired by Shirobako.</strong>
     </p>
    </div>
  </div>
 </div>