 <div class="container ">
    <div class="row">
       <%= image_tag "landingbg.jpg",:class =>"wrapper" %>
       <div class="col-md-8 col-md-offset-1 col-xs-12"  style="padding-top:16%;">
          <h2 style="color:white;font-weight:bold;font-size:30px;" class="home-cta">You have successfully subscribed to keep track of the development of Visualnoveler</h2>
        
        </div>
            
         

         
</div>

        </div> <!-- /row -->
    
  </div> <!-- /container full -->

