@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 0px;
  background-color: #F8F8F8;
}

.vngenre-padding{
  margin-left: 6px;
}
.list-inline {
  
  margin-bottom: 0px;
}
.inline-nopadding {
  padding-right: 0px;
  margin-right: 0px;
}

.navLogoPos {
  position: absolute;
  bottom: 120px;

}
.formthumbnail {
  width: 200px;
  height: auto;
}

.formcharacter {

  width: 150px;
  height: auto;
}


.vn-user-poster {
  // width: 200px;
  width:  100px;
  height: 160px !important;
}

.vn-poster {
  // width: 200px;
  width:  220px;
   height: 300px !important;
}

.summary-text {
  white-space: pre-wrap;
      font-size: 1.2em;
    line-height: 1.2;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  // color: #A3A8AD;
  // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  //   font-size: 16px;
}
.usercoverbg {
  background-color: white;
 // height: 400px;
}
.user-playing {
  margin-top: 50px;
 // height: 400px;
}

.vn-char {
  width: 70px;
  height: 90px;
}

.vn-index-poster {
  width: 220px;
  height: 284px;
}

.adjustcharacter {
  left: 15px;
  margin-bottom: 20px;
}

.vncharacter-padding {
 // padding-right: 10px;
}
.vn-random-column {
  float: right;
  position: relative;
 left: 55px;
 bottom: 60px;
}

.vn-index-randomposter {
  width: 180px;
  height: 224px;
}


.vn-thumbnail-img {
  padding-top: 30px;
  // width: 600px;
}


.vn-thumbnail{
    width: 220px;
    height: 140px; 
}

h2{

	font-size: 2.0em;
}
.navbar-inner {
	background: transparent;
}
textarea {
    resize: none;
    }
.navword {
	font-size: 1.6em;
	line-height: 120%;
	font-family: "klavika", Helvetica, Arial, sans-serif;

}
.navLogo {
	font-size: 2em;
	font-family: 'Poiret One', cursive;
	//font-weight: bold;
	color: #3EA9F5;
	

}

.emailaddress{ 
  width: 260px;
  height: 43px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;

}

.emailbutton {
  top: 45px;
  left: 100px;
}

.calltoaction {

  font-family: Arial,sans-serif;
  font-size:35px;
  color:#DDCCEE;
}


.panelrandom {
  width: 180px;
  border-top: 0px;
}

.panelfeatured {
  width: 220px;
  border-top: 0px;
}

.vnindex-categorypadding {
 // padding-bottom: 15px;
}

.vnindex-heading{
  margin-left: 95px;
  margin-top: 0px;
}
//homepage
.v-center {
  margin-top:17.8%;
}
.v-center1 {
  margin-top:18.8%;
}

.vn-column {
  width: 220px;
  height: auto;
  margin-right: 15px;
  margin-left: 0px;
  padding-left: 0px; 
  float: left;
  position: relative;
  left: 120px;

}

.vnindex-title {
  position: relative;
  bottom: 15px;
  padding-top: 0px;
}
.vnindex-genre {
  position: relative;
  bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.user-add-time{
 position: relative;
 top: 85px;
 left: 95px;
}

//top alignment
.user-add-col-paddingtop{
  margin-top: 85px;

}
// left alignment
.user-add-col-padding{
  margin-left: 10px;
}

.user-add-genre{
 position: relative;
 top: 85px;
}

.ajaxpos {
  position: relative;
  bottom: 33px;
  left: 20px;
}
.user-recenttext {
  padding-left: 30px;
}

.bgimage {
	   position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
