@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto);
.navbar-default{
  background-color: white;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #3E3D48;
}

.footer > a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.footer-text{
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  padding-left: 10px !important;
   padding-right: 10px !important;
  display: inline-block;
  text-align: center;
  -webkit-transition: ease .5s;
  transition: ease .5s;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
html, body {
  //overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.navbar,.navbar-default {
  margin-bottom: 0px;
}
#content {
  min-height: 520px;
}
.btn:focus,.btn:active {
   outline: none !important;
}
.about-list{
  font-size: 16px;
  padding-bottom: 10px;
}
.pull-right-nav{
    display: right;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index:-1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.nav-padding{
  padding-right: 6px;
  padding-left: 6px;
}
.signup-bg{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.similar-thumbnail {
  width: 120px;
  height: 150px;
}
.btn-googleauth{
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}
.user-discoverimg{
  height: 160px;
  width: 250px;
  display: block;
  max-width: 100%;
}

.padding-search{
  margin-top: 9px;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 310px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}


.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
  font-size: 16px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.ghost-buttonimg{
  color: #fff;
  border: 2px solid #fafafa;
  border-radius: 4px;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  min-width: 30px;
  font-weight: 400px;
  -webkit-transition: background-color .15s linear;
  -moz-transition: background-color .15s linear;
  -ms-transition: background-color .15s linear;
  -o-transition: background-color .15s linear;
  transition: background-color .15s linear;
}
// For on hover navbar show dropdown
@media (min-width: 679px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  .pull-right-nav{
    display: block;
  }
}

// mobile CSS
@media (max-width: 460px) {
  .vnindex-heading{
    top: -10px !important;
  }
  .emailaddress{
    position: relative;
    left: 55px;
  }
   .emailbutton {
    position: relative;
    top: 20px; 
    right: 10px; 
  }

  .vnchar-rowpadding{
   // padding-right: 60px;
  }
  .home-registerbtn{
    position: relative;
    top: 25px;
    left: 85px;
  }
  .home-cta{
    font-size: 20px !important;
  }
  .email-form{
    padding-top: 5px;
  }
  .home-signup{
    color:white;
    font-weight:bold;
    font-size:30px;
    padding-left:5px;
    padding-bottom:10px;
  }
  .content{
    position: absolute;
    width: 100%;
    left: 0;
    height: auto;
    background: white;
    overflow: auto;
  }
  .home-emailtext{
    color:#fff; 
    font-size:20px;
  }

  .vn-reviewdate{
    position: relative;
    top: 20px;
    right: 15px;
  }

  .vn-ratingdiv {
  }
  .vn-navbuttons{
    float: right;
    margin-top: 15px;
  }
}

// tablet
@media (max-width: 1196px) and (min-width:600px) {
  .vn-pull-right {
    float: right !important;
    padding-top: 0px !important;
  }
   .btn-vnlist{
    position:relative;
    bottom:10px;
  }
 
}
  .btn-vnlist{
    position:relative;
    bottom:10px;
  }
  .vn-navbuttons{

  }

// mobile and tablet

@media (max-width: 1196px) {
  .row-vnlist-summary {
    margin-right:25px;
  }
  .vnindex-heading{
    top: 0px;
    padding-left:45px;
    position:relative;
    display: inline;
  }
  //VN Show page
  .vn-characterbottompadding {
    padding-bottom: 20px;
    padding-left: 30px;
  }
   .vn-score{
    padding-left: 25px;
    font-size: 1.2em;
  }

  .vn-thumbnail{
    max-width: 100%;
    height: auto;
    display: block;
  }

  .vn-pull-right {
    padding-top: 20px;
    float: none;
  }

  .vn-buttonedit{
    position: absolute;
    min-width: 30px !important;
    border-radius: 0px !important;
    background-color: rgba(0,0,0,0.45);
    top: 10px;
    left: 241px;
    padding: 0px 0px 0px 0px;
  }

  .vn-youtube {
    position: absolute;
    top: 180px;
    left: 120px;
    opacity: 0.9;
   // transform: translate(-50%, -50%);
    /* bring your own prefixes */
  }

  .vn-poster {
  // width: 200px;
    display: inline;
    width:  250px;
    height: 335px !important;
  }

  .vnpage-charname {
    font-size: 1.3em;
  }

   .adjustcharacter {
    margin-bottom: 15px;
    left: 20px;
  }
  .vn-reviewposter {
    width: 93px !important;
    height: 93px !important;
  }


  .related-thumbnail {
     width: 155px;
    height: 185px;
  }

  .vn-ratingdiv {
  }

  .vn-reviewdate{
    position: relative;
    top: 21px;
    right: 15px;
  }

}
//desktop 
@media (min-width: 1200px) { 
  //VN Show page
  .vnindex-heading{
    display:inline;
    padding-left:45px;
    position:relative;
    top:6px;
  }
  .review-username{
    padding-left: 15px;
  }
  .row-vnlist-summary {
    margin-right:100px;
  }
   .btn-vnlist{
    position:relative;
    bottom: 5px;
  }
 
  .vn-characterbottompadding {
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .vn-score{
    padding-left: 50px;
    font-size: 1.2em;
  }
  .vn-thumbnail {
    width: 220px;
    height: 140px; 
  }

  .vn-buttonedit{
    position: absolute;
    min-width: 30px !important;
    border-radius: 0px !important;
    background-color: rgba(0,0,0,0.45);
    top: 10px;
    right: 11px;
    padding: 0px 0px 0px 0px;
  }
  .vn-pull-right {
    float: right;
  }

  .vn-youtube {
    position: absolute;
    top: 45%;
    left: 50%;
    opacity: 0.9;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .vn-poster {
  // width: 200px;
    display: inline;
    width:  250px;
    height: 335px !important;
  }
  .adjustcharacter {
    margin-bottom: 20px;
  }

  .related-thumbnail {
    width: 125px;
    height: 155px;
  }

  .vn-reviewusertextdiv{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .vn-reviewdate{
    position: relative;
    top: 23px;
    right: 15px;
  }

  .vn-ratingdiv {
     
  }
  #vn-review-section{
  p{
    //line-height: 1.2em;
    font-size: 17px !important;
    line-height: 1.6em;
  }
}
}

// small tablet + mobile
@media (max-width: 700px) {
  .vn-menuright {
    float: none !important;
    margin-left: 30px;
  }
  .shared-lib{
    display: none; 
  }
  .favourites-col{
    padding-top: 25px;
  }
  .adjustcharacter {
    margin-bottom: 15px;
    left: 0px !important
  }
  //Adjust footer for mobile 
 body {
    margin: 0 0 75px !important; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75px !important;
    width: 100%;
    background-color: #3E3D48;
}

}
// tablet + desktop
@media (min-width: 460px) {
  .vnindex-row {
    margin-left: 100px !important;
  }
  .vn-menuright {
    float: right;
  }
  .email-form{
    padding-top: 5px;
  }
  .emailbutton {

  }
  .home-emailtext{
    color:#fff; 
    font-size:20px;
    position:relative;
    right:25px;
  }
  .home-signup{
    color:white;
    font-weight:bold;
    font-size:30px;
    padding-left:55px;
    padding-bottom:10px;
  }
  .content{
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: auto;
        background: white;
  }
}

// settings for specific table sizes
@media (min-width: 462px) and (max-width: 767px) {
  .vn-navbuttons{
    margin-top: 25px;
  }

}
.removepadding {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.user-button-padding{
  padding-left: 6px;
}
.status-dropdown{
  padding-right: 10px;
}

.library-list {
  margin-right: 45px !important;
}
.blue-button {
  background-color: #428bca;
  color: white;
      -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
//specific character css for vn show page 
@media (max-width: 519px) {
  // to ensure that bootstrap colummns float in columns properly
  .removecharacterpadding{
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.nav-library {
  color: black;
  font-size: 1.2em;
}

.button-text{

  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
.landing-button {
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 4px;
}

.landing-button:hover {
   opacity: 0.6;
   color: black;
}

.ghost-button-white{
    font-size: 16px;
    color: white;
    padding: 10px 22px 10px 22px !important;
    background: transparent;
    border: 1px solid #fff;
}

.ghost-button {
  color: #6C8CD8;
  background: #fff;
  border: 1px solid #6C8CD8;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 80px;
}


.ghost-buttonimg:hover, .ghost-buttonimg:active {
  color:#fff;
  background-color:rgba(0, 150, 136, 0.4);
}

.ghost-button:hover, .ghost-button:active {
  color:#fff;
  background:#6C8CD8;
}

.panel-vnshow{
  padding-left: 5px;
  padding-right: 5px;
}

.panel-vnindex{
  border-top: 0px;

}
.customform-input{
  
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

// VN column in index VN page


.vn-column{

  width: 220px;
  height: 380px; // to standardize posters
  margin-right: 5px;
  float: left;
  margin-left: 15px;
  .inline-nopadding {
     padding-right: 0px;
     margin-right: 0px;
  }
  .vngenre-padding{
     margin-left: 6px;
  }

  .vn-index-poster {
     width: 220px;
     height: 284px;
  }
  .joker{ width: 220px;
     height: 284px;}

  .text-title {
    font-size: 2.0em;
    font-weight: 500;
  }

  .panel-body{
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .bottom {
    position:relative;
    bottom: 20px;
    right: 0px;
    color: black;
    //background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .vnindex-genre {
    position: relative;
    bottom: 25px;
  }
  .panel-vnindex{
    overflow: hidden;
    height: 72px;
  }


}

// VN column in index VN page


/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-stuff{
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-stuff:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container .links {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

// End of Login Container

.vn-walkthroughimg{
  width: 80%;
  height: auto;
}
.register-button{

  background-color: #4d90fe;
  width: 260px;
   border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  font-family: roboto;
  font-size: 14px;
}
.register-button:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.contest-characterimg{
  width: 50%;
  height: auto;
}

.signup{
  padding-bottom: 10px;
}

body {
  padding-top: 0px;
  background-color: #F8F8F8;
}


.list-inline {
  
  margin-bottom: 0px;
}

.button-nav{
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.logotitle-dropdown{
  padding-top: 5px;
}

.logotitle{
  color: black; 
  font-size: 1.15em;
}


.formthumbnail {
  width: 200px;
  height: auto;
}

.formcharacter {

  width: 150px;
  height: auto;
}
.vn-favourite{
  position: relative;
  left: 30px;
}

.vn-user-poster {
  // width: 200px;
  width:  100px;
  height: 160px !important;
}

.wrapper{
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

}

.landingimg{
  background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.navLogo {
  font-size: 1.7em;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  //font-weight: bold;
  color: #3EA9F5;
}

.landing-navitems{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    background-color: transparent !important;
   font-weight: 400;
   font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.landing-navitems:hover{
   background-color: transparent !important;
   opacity: 0.6;
   color: white;
}

.navLogo-home {
  font-size: 1.65em;
  font-weight: 400;
  color: white;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.display-landingpage{
  z-index: 1;
  position: absolute;
}
.default-text{
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.default-font {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.summary-text {
  white-space: pre-wrap;
      font-size: 1.1em;
    line-height: 1.2;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  // color: #A3A8AD;
  // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  //   font-size: 16px;
}
.usercoverbg {
  background-color: white;
 // height: 400px;
}
.favourites-div{
  background-color: red;
}
.favourites-inner-row{
  padding-left: 15px;
}
.user-image-div {
  padding-left: 0px;
  padding-right: 0px;
}
.userpic {
  width: 220px;
  height: 220px;
  border-radius: 5px;
}

.usercol {
  width: 220px;
  height: 220px;
  margin-right: 35px;
  float: left;
}

.user-showname {
  float: left;
}
.user-buttons {
  padding-top: 18px;
}
.user-name {
  position: relative;
}
.user-image {
  width: 300px;
  height: 250px
}
.user-playing {
  margin-top: 10px;
 // height: 400px;
}

.vn-char {
  width: 70px;
  height: 90px;
}

.user-favimg {
  width: 72px;
  height: 76px;
}
.user-favcolumn {
  width: 72px;
  height: 76px;
  float: left;
  overflow: hidden;
}


//horizontal checkbox styling
.checkbox_container {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
 }
.checkbox_container input {
  display: inline;
 }

 .checkbox-inlines {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    /* vertical-align: middle; */
    font-weight: normal;
    cursor: pointer;
}
.checkbox_container .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
 }
//horizontal checkbox styling


.removecharacterpadding{
  padding-right: 0px;
  padding-left: 0px;
}

.vncharacter-padding {
 // padding-right: 10px;
}

.vn-thumbnail-img {
  padding-top: 30px;
  // width: 600px;
}

.vn-reviewdetails img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2{

	font-size: 2.0em;
}
.navbar-inner {
	background: transparent;
}
textarea {
    resize: none;
    }
.navword {
	font-size: 1.6em;
	line-height: 120%;
	font-family: "klavika", Helvetica, Arial, sans-serif;

}

.emailaddress{ 
  width: 230px;
}



.user-add-time{
 position: relative;
 top: 85px;
 left: 95px;
}

//top alignment
.user-add-col-paddingtop{
  margin-top: 85px;

}
// left alignment
.user-add-col-padding{
  margin-left: 10px;
}

.user-add-genre{
 position: relative;
 top: 85px;
}

.ajaxpos {
  position: relative;
  bottom: 33px;
  left: 20px;
}
.user-recenttext {
  padding-left: 30px;
}

.bgimage {
	   position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
//show mobile menu
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fc0 /* change this to any color you want! */;
}
.user-post{
  .user-time{
    //margin-top: 115px;
  }
}


.vnchar-img{
  width: 80px;
  height: 100px;
}
.otherss-padding{
  margin-bottom: 100px;
}
.vn-otherss {
  width: 260px;
  height: 167px;
}
//vn page
.vn-fullbutton{
  position: relative;
  bottom: 50px;
  right: 90px;
}

.vn-postdate{
    color: rgba(0,39,59,.35);   
    font-weight: 500;
    font-size: 14px;
}

.vn-review-postdate{
    color: rgba(0,39,59,.35);   
    font-weight: 500;
    font-size: 17px;
    position: relative;
    top: 19px;
}



body {
  //background: #E6E6E6 !important;
}
.a-inherit{
  color: inherit;
}

// padding between header and stuff
.vn-show-padding{
  padding-top: 50px;
}

.twittercover {
  width: 100%;
  height: 350px;
    //background-image: url("rewrite_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}​


.vn-contentpadding {
  padding-left: 5px;
}
//fav
.vn-button{
  position: absolute;
  min-width: 30px !important;
  border-radius: 0px !important;
  background-color: rgba(0,0,0,0.45);
  top: 10px;
  padding: 0px 0px 0px 0px;
}
.vn-crop {

}


//edit button
.vn-purchaseicon{
  padding-left: 15px;
}

.vn-name {
  font-size: 1.5em;
}

.vn-label {
  line-height: 180%;
  color: #444444;
  font-weight: bold;
}
.vn-genre {
  color: #1F3A93;
  font-weight: bold;
}
.userdiv{
  width: 280px;
  height: auto; // to standardize posters
  margin-right: 5px;
  float: left;
  margin-left: 15px;
}
.userdiv-image{
  width: 280px;
  height: 200px;
}

.vncharacter {

  .vn-characterpage-name{
    margin-bottom: 15px;
  }
  .vncharacter-section {
    padding-bottom: 25px;
  }
}

.vn-reviewmargins {
  margin-bottom: 35px;
}
.vn-reviewtext {
  font-size: 1.2em;
  font-weight: 500;
}
.vn-reviewdetails{
  padding-top: 9px;
}

.removepadding {
  padding-right: 0px;
  padding-left: 0px;
}
.review-userposter{
  width: 90px;
  height: 90px;
}

.vn-user-profile {

}
.vn-reviewbutton {
  position: relative;
  bottom: 50px;
}
.radiobox-inline {
  display: inline-block;
  margin-right: 10px;
}
.radio-ratinglabel {
  padding-right: 15px;
}
.tester{
  padding-left: 10px;
  padding-right: 10px;
}

.vn-userheader{
  padding-bottom: 12px;
}
.vn-recommendtext{
  font-size: 1.2em;
  font-weight: bold;
}
.review-username{
  padding-top: 10px;
}

.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 5px 0; }
.tab-content{padding:20px}


.user-createpost {
  margin-top: 25px;
}
.user-postdelete{
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.user-bio {
  min-height: 80px;
}
.user-postbutton {
  position: relative;
  bottom: 10px;
}


// devise flash messages
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
.footer-text{
  padding-left: 20px;
  padding-right: 20px;  
}
.character-role {
  font-size: 12px;
  line-height: 1.2;
}
.custom-input {
    height: 34px;
    padding: 6px 12px;
    font-sizes: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

.vn-ratingdiv{
  font-size: 1.2em;
  position: relative;
  top: 19px;
}
.footer-home {
  position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: auto;
        background: white;
        z-index: 10000 !important;
  
}