<% title "#{@review.vn.name} Review by #{@review.user.name}" %>
<% description (@review.vn.name + " Review - " + @review.details.truncate(300)) %>

<section id="vn-review-section">
<div class="container">
	<div class="row" style="padding-top:20px;">
		<div class="col-md-10">
			<div class="panel panel-default"><div class="panel-body">
			<h4><%= link_to @review.vn.name,vn_path(@review.vn)%> Reviews </h4>
			<%= render :partial => 'review', locals: {review: @review} %>
			</div></div>
		</div>
	</div>
</div>
</section>