<div class="col-md-12">

		<div class="tab-content" style="padding-top:0px;">
		    <div role="tabpanel" class="tab-pane fade in active" id="default-vnlist">
		    	<div class="vn-container">
					<%= render 'layouts/vn_page' %>
				</div>
				
		    </div> <!-- tabpanel vnlist !-->

		   <%= render 'layouts/vn_tab' %>
		</div>	
</div> <!-- end of tab-content + col 12 !-->