<div class="col-md-12" style="padding-top:20px;">
	<div class="row">

		<div class="col-md-10 col-sm-8 col-xs-12">
	      <h2 class="vnindex-heading"><%= title %> 
	      </h2>
	     </div>

	     	<div class="col-md-2 col-xs-6 col-sm-4">
	     		<div class="vn-navbuttons">
					<a href="#default-vnlist" aria-controls="default-vnlist" role="tab" data-toggle="tab"><button type="button" class="btn btn-primary btn-circle btn-lg btn-vnlist"><i class="glyphicon glyphicon-list"></i></button></a>
				 <a href="#vnlist-summary" aria-controls="vnlist-summary" role="tab" data-toggle="tab"><button type="button" class="btn btn-success btn-circle btn-lg btn-vnlist"><i class="glyphicon glyphicon-th-list"></i></button></a>
		    	</div>
		</div>
     </div>
    
</div>